@model EBMS.Models.T_RulesNotice
@{
    ViewBag.Title = "ViewNoticeEdit";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<script src="/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
 <script charset="utf-8" src="~/Scripts/editor/kindeditor.js"></script>
		<script charset="utf-8" src="~/Scripts/editor/lang/zh_CN.js"></script>
 <style>
     form 
     {
          margin: 0;

     }
    textarea 
    {
        display: block;
    }
    </style>
<script type="text/javascript">
    $(function () {

        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('#hideContent', {
                allowFileManager: true,
                resizeType: 2,
                allowPreviewEmoticons: false,
                allowImageUpload: false,
                uploadMode: false,
                height:"300px",
                width: "80%",
                afterBlur: function () {this.sync(); 
                },
                items: [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertunorderedlist',
                   '|', 'emoticons',  'link']
            });
        });

        $("input[type='text']").attr("style", "width:300px")
        $('#hideContent').val($('#Contents').val())
       
        var flag = 0;
        $('#btnSave').click(function () {
            if ($("#Title").val() == null || $("#Title").val().trim() == "") {
                alert("请输入标题")
                return;
            }
            if ($("#Summary").val() == null || $("#Summary").val() == "") {
                alert("请输入摘要，若没有请输入无")
                return;
            }
            var sss = encodeURIComponent($('#hideContent').val().toString());
         
            $('#Contents').val(sss)
         
            if ($("#EditForm").valid()&&flag==0) {
               
                loading(0);
                flag += 1;
               
                $.ajax({
                    url: "/System/ViewNoticeEditSave",
                    type: "Post",
                    data: $("#EditForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        loading(1);
                        if (data == "1") {
                            
                            parent.$('#List').datagrid('reload');
                            $.messager.alert("提示", "保存成功", "info", function () {
                                parent.$('#DivEdit').dialog('close');
                            })
                            parent.$('#List').datagrid("clearSelections");
                        }
                        else {
                            $.messager.alert("提示", "保存失败", "info");
                            flag = 0;
                          
                        }
                    },
                    error: function (data) {
                        $.messager.alert("提示", data, "info");
                    }
                });
            }
            return false;

        });
    })

</script>
<style>
    .lab {
  width: 100px; 
  text-align: right;}
   
</style>

<div class="mvctool bgb">
    <a id="btnSave" href="javascript:;" class="modal-btn modal-btn-save">保存</a>
  
</div>

<div>
    @using (Html.BeginForm("EditForm", "Controllers", null, FormMethod.Post, new { Id = "EditForm" }))
    {
    @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300">
       
        <tbody>
        
              
              <tr>
              <td class="lab">
                    @Html.LabelFor(model => model.Type)：   
                </td>
                <td>
                    @Html.DropDownListFor(model => model.Type, ViewData["type"] as List<SelectListItem>)
                </td>

               </tr>    
             <tr>
                <td class="lab">
                    @Html.LabelFor(model => model.Title)：   
                </td>
                <td >
                    @Html.TextBoxFor(model => model.Title)
                </td>
                
            </tr>       
                 <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Summary)：   
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Summary)
                 </td>
                 </tr>
          
             <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Contents)：  
                    
                </td>
                <td>
                 
                    <textarea name="hideContent" id="hideContent" style="visibility:hidden" ></textarea>
                 </td>
                 
                
            </tr>       
              @* <tr>
              <td class="lab">
                    @Html.LabelFor(model => model.quanxian)：   
                </td>
                <td>
                    @Html.DropDownListFor(model => model.quanxian, ViewData["power"] as List<SelectListItem>)
                </td>

               </tr> *@
             </tbody>
    </table>
           @Html.HiddenFor(model => model.ID)
          @Html.HiddenFor(model => model.Contents)
}

</div>