@model EBMS.Models.T_RespiratorOrder
@{
    ViewBag.Title = "ViewRespiratorEdit";
    Layout = "~/Views/Shared/_Main_Edit.cshtml";
}

<script type="text/javascript">
    var editRow = -1;//定义全局变量：当前编辑的行
    var grid; //定义全局变量datagrid  
    $(function () {
        grid = $('#grid').datagrid({
          
            url: "../Respirator/GetRespiratorDetailList?RID=" + "@Model.ID",
            idField: 'ID',
            method: 'post',
            sortOrder: 'desc',
            sortName: 'ID',
            pageSize: 20,
            height: $(window).height() * 0.8,
            width: $(window).width() - 10,
            pagination: true,
            fitColumns: true,
            showFooter: true,
            rownumbers: true,
            singleSelect: true,
            onLoadSuccess: function () { updateFooter(); },
            columns: [[
                {
                    field: 'ProductName', title: '产品名称', width: 150,
                    editor: {
                        type: 'text', options: { required: true }
                    }
                },
                   {
                       field: 'Company', title: '单位', align: 'center', width: 80,
                       editor: {
                           type: 'text', options: { required: true }
                       }
                   },
                   {
                       field: 'ProductCode', title: '产品序列号', width: 120,
                       editor: {
                           type: 'text', options: { required: true }
                       }
                   },
                {
                    field: 'Number', title: '数量', width: 80,
                    editor: {
                        type: 'numberbox'
                    }
                },
                   {
                       field: 'Price', title: '单价', width: 80,
                       editor: {
                           type: 'text', options: { required: true }
                       }
                   },
                  {
                      field: 'Subtotal', title: '小计', align: 'center', width: 100, editor: {
                          type: 'text', options: { required: true }
                      }
                  },
            ]],
            onClickRow: function (rowIndex, rowData) {
                //停止正在编辑行
                if (editRow != rowIndex) {
                    grid.datagrid('endEdit', editRow);
                }
                editRow = rowIndex;
            },
            onClickCell: function (index, field) {
                editCell(index, field);
            },
            onAfterEdit: function (index) {
                // var row = grid.datagrid('getRows')[index];
                //  row.Subtotal = row.Number * row.Price;
                saveJson();
                grid.datagrid('refreshRow', index);
                updateFooter();
            }
        });
        //初始化空白grid 
        grid.datagrid('loadData', { total: 0, rows: [], "footer": [{ "ProductName": "合计", "Number": 0, "Subtotal": 0.00 }] });

       
        $(window).resize(function () {
            $('#grid').datagrid('resize', {
                width: $(window).width() - 10,
                height: $(window).height() - 191
            })
        });
       
        //保存页面数据
        var flag = 0;
        $('#btnSave').click(function () {
            grid.datagrid("endEdit", editRow);
            var jsonstr = $("#jsonStr").val();
            if (jsonstr == "") {
                alert("无详情，无法保存！");
                return;
            }

            var rows = $('#grid').datagrid('getRows');
            for (var i = 0; i < rows.length; i++) {
                if (rows[i].Number == null || rows[i].Number == undefined) {
                    alert("请输入数量");
                    return false;
                }
            }
            var flag = 0;
            if ($("#form1").valid() && flag == 0) {
                flag = 1;
                loading(0);
                $.ajax({
                    url: "/Respirator/RespiratorEditSave",
                    type: "Post",
                    data: $("#form1").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.State == "Success") {
                            loading(1)
                            $.messager.alert("提示", "@Lib.MessageRes.SaveOK", "info", function () {
                                closeReshefTab("呼吸机管理")
                            })
                        }
                        else {
                            loading(1)
                            $.messager.alert("提示", data.Message, "info");
                            flag = 0;
                        }
                    },
                    error: function (data) {
                        loading(1);
                        flag = 0;
                        $.messager.alert('提示', data, "info");
                    }
                });
            }
        })
    });

    function editrow(index) {
        editRow = index;
        grid.datagrid('selectRow', index);
        grid.datagrid('beginEdit', index);

        var editors = grid.datagrid('getEditors', index);
        var qty = editors[0].target;
        var price = editors[1].target;
        // var total = editors[2].target;
        var memo = editors[2];
        qty.focus();

        var q = 1;
        var p = 0;
        var t = 0;

        memo.target.bind('keyup', function () {
            if (window.event.keyCode == 13) {
                $('#grid').datagrid('endEdit', index);
                editRow = -1;
            }
        });
    }

    function editCell(index, field) {

        //if (editRow != index) { }
        grid.datagrid('endEdit', editRow);
        editRow = index;
        grid.datagrid('selectRow', index);
        grid.datagrid('beginEdit', index);
        var editor = grid.datagrid('getEditor', { index: index, field: field });
        //numberbox 特殊处理
        setTimeout(function () {
            editor.target.focus();
        }, 0);

        var editors = grid.datagrid('getEditors', index);
        for (var i = 0; i < editors.length; i++) {
            editors[i].target.bind('keydown', { field: editors[i].field }, function (e) {
                if (e.keyCode == 13) {
                    grid.datagrid('endEdit', index);
                    editRow = -1;;
                } else if (e.keyCode == 38) {	// up

                    if (editRow > 0) {
                        editCell(editRow - 1, e.data.field);
                    }
                } else if (e.keyCode == 40) {	// down

                    if (editRow < grid.datagrid('getRows').length - 1) {
                        editCell(parseInt(editRow) + 1, e.data.field);
                    }
                }
                if (i < 2) {
                    if (!(event.keyCode == 46) && !(event.keyCode == 9) && !(event.keyCode == 8) && !(event.keyCode == 37) && !(event.keyCode == 39))
                        if (!((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)))
                            event.returnValue = false;
                }
            });
        }

    }
    function updateFooter() {
        var billCount = 0, billCost = 0;
        var rows = grid.datagrid('getRows');
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            if (row.Number) {
                billCount += parseInt(row.Number);
            }
            if (row.Subtotal) {
                billCost += parseFloat(row.Subtotal);
            }
        }

        grid.datagrid('reloadFooter', [{ "ProductName": "合计", "Number": billCount, "Subtotal": billCost }]);
    }
    function saveJson() {

        JsonText = "[";
        var rows = $('#grid').datagrid('getChanges');

        for (var i = 0; i < rows.length; i++) {
            var Pcode = "";
            if (rows[i].ProductCode != null && rows[i].ProductCode != undefined) {
                Pcode = rows[i].ProductCode;
            }
            JsonText += '{';
            JsonText += '"ID":' + '"' + rows[i].ID + '",';
            JsonText += '"ProductName":' + '"' + rows[i].ProductName + '",';
            JsonText += '"Company":' + '"' + rows[i].Company + '",';
            JsonText += '"ProductCode":' + '"' + Pcode + '",';
            // JsonText += '"Company":' + '"' + rows[i].Company + '",';
            JsonText += '"Number":' + '"' + rows[i].Number + '",';
            JsonText += '"Price":' + '"' + rows[i].Price + '",';
            JsonText += '"Subtotal":' + '"' + rows[i].Subtotal + '"';
            JsonText += '},';
        }
        JsonText = JsonText.substring(0, JsonText.length - 1);
        JsonText += "]";

        $("#jsonStr").val(JsonText);
    }

    $(document).not(grid).on("click", function () {
        grid.datagrid("endEdit", editRow);
        grid.datagrid('unselectAll');
    });

</script>
<div class="btn-bar">
    <a id="btnSave" href="javascript:;" class="modal-btn modal-btn-save">保存</a>

</div>
@using (Html.BeginForm("ViewEdit", "Respirator", FormMethod.Post, new { name = "form1", id = "form1" }))
{
     @Html.ValidationSummary(true)
   
    <table class="fromEditTable setTextWidth300">
       
        <tr>
            <td style="width: 80px;text-align:right">
                @Html.LabelFor(model => model.OrderCode)：    
            </td>
            <td>
                @Html.DisplayFor(model => model.OrderCode)
             
            </td>
            <td  style="width: 80px;text-align:right">
                @Html.LabelFor(model => model.SaleNumbers)：   
            </td>
            <td>
                @Html.DisplayFor(model => model.SaleNumbers, new { @readonly = true })
            </td>
            <td  style="width: 80px;text-align:right">
                @Html.LabelFor(model => model.SaleDate)：   
            </td>
            <td>
                @Html.DisplayFor(model => model.SaleDate, new { @readonly = true })
            </td>
            </tr>
            <tr>
            <td style="width: 80px;text-align:right">
                @Html.LabelFor(model => model.CustomerName)：   
            </td>
            <td>
                @Html.DisplayFor(model => model.CustomerName)
            </td>
             <td style="width: 80px;text-align:right">
                @Html.LabelFor(model => model.Customerphone)：   
            </td>
            <td>
                @Html.DisplayFor(model => model.Customerphone)
            </td>
                <td  style="width: 80px;text-align:right">
                @Html.LabelFor(model => model.Remarks)：   
            </td>
            <td>
                @Html.DisplayFor(model => model.Remarks)
            </td>
        </tr>
        <tr>
            <td  style="width: 80px;text-align:right">
                @Html.LabelFor(model => model.Customeraddress)：   
            </td>
            <td colspan="5">
                @Html.DisplayFor(model => model.Customeraddress)
            </td>
        </tr>
          <tr>
            <td  style="width: 80px;text-align:right">
               注： 
            </td>
              <td colspan="5" >销售清单<span style="color:red;font-size:14px;">第一条</span>填写<span style="color:red;font-size:14px;">主机</span>信息，<span style="color:red;font-size:14px;">第二条</span>填写<span style="color:red;font-size:14px;">湿化器</span>信息,填错会影响销售单和保证书的打印</td>
        </tr>
    </table>
    @Html.Hidden("jsonStr")
     @Html.HiddenFor(model=>model.ID)
  
}
<table id="grid">
</table>
