@model EBMS.Models.T_Retreat
@using Lib
@{
    ViewBag.Title = "ViewRetreatAdd";
    Layout = "~/Views/Shared/_Main_Edit.cshtml";
}
@*
2016-11-25 刘明*@
<script type="text/javascript">
    var grid; //定义全局变量datagrid
    var editRow = -1;
    //加载数据
    $(function () {

        //创建一个新的Grid
        grid = $('#List').datagrid({
            width: $(window).width() - 10,
            height: $(window).height() - 300,
            fitColumns: true,
            showFooter: true,
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            columns: [[
                {
                    field: 'item_code', title: '产品编码', width: 80
                },
                      {
                          field: 'item_name', title: '产品名称', width: 80
                      },
                       {
                           field: 'Simplename', title: '单位', width: 80
                       },
                {
                    field: 'qty', title: '数量', width: 80, editor: {
                        type: 'text', options: { required: true }
                    }
                },

                    {
                        field: 'action', title: '操作', width: 120, align: 'center', formatter: function (value, row, index) {
                            return '<div class="btn-bar"><a onclick="removeRow(' + index + ')" class="icon-remove">删除</a></div>';
                        }
                    },
            ]],
            onClickCell: function (index, field) {
                if (field == "item_code") {
                   
                    $('#openIframeGoodsGY')[0].src = "ViewGoodsGY?index=" + index;
                    $('#GoodsGYDiv').dialog('open');
                }
                else if (field == "item_name") {
                    //$('#openIframeCompany')[0].src = "ViewCompany?index=" + index;
                    //$('#CompanyDiv').dialog('open');
                }
                else if (field != 'action') {
                    editCell(index, field);
                }
            },
            onAfterEdit: function (index) {
                grid.datagrid('refreshRow', index);
                updateFooter()
                saveJson();
            }
        });
        grid.datagrid('loadData', { total: 0, rows: [], "footer": [{ "Unit": "合计", "UnitPrice": 0.00, "Qty": 0 }] });
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 10,
                height: $(window).height() - 191
            })
        });
        //提交后台方法
        var sign = 0;
        $("#btnSave").click(function () {
            loading(0);
            if ($("#Retreat_Warehouse").val() == "") {
                $.messager.alert('提示', "请选择仓库", "info")
                loading(1);
                return
            }
         
            
            if ($("#Retreat_expressName").val() == "") {
                $.messager.alert('提示', "请选择快递", "info")
                loading(1);
                return
            }
            if ($("#Retreat_expressNumber").val() == "") {
                $.messager.alert('提示', "快递单号必须填写", "info")
                loading(1);
                return
            }
            grid.datagrid("endEdit", editRow);
            grid.datagrid('clearSelections');
            var rows = $('#List').datagrid("getRows");
            if (rows == "") {
                $.messager.alert('提示', "请添加收货详情", "info")
                loading(1);
                return
            }
            //循环验证数据
            for (var i = 0; i < rows.length; i++) {
                if (rows[i].qty == undefined || rows[i].qty == "") {
                    $.messager.alert('提示', "数量不允许为空", "info")
                    loading(1);
                    return false;
                }
                if (rows[i].item_code == undefined || rows[i].item_code == "")
                {
                    $.messager.alert('提示', "编码不允许为空", "info")
                    loading(1);
                    return false;
                }
            }
         
            if ($("#EditForm").valid()) {
                if (sign == 0) {
                    sign = 1;
                    $.ajax({
                        url: "RetreatNoheadpartsAddSave?detailList=" + $("#jsonStr").val(),
                        type: "Post",
                        data: $("#EditForm").serialize(),
                        success: function (data) {
                            if (data.State == "Success") {
                                loading(1);
                                $.messager.alert('提示', '保存成功', "info", function () {
                                    window.location.reload();
                                    sign = 0
                                });
                            } else {
                                loading(1);
                                $.messager.alert('提示', data.Message, "info", function () {
                                    $("#List").datagrid("reload");
                                    sign = 0
                                });
                            }
                        }
                    });
                }
            }
        });
    });
    //添加一行空的数据
    function addRow() {
        $('#List').datagrid('appendRow', {
            item_code: "",
            item_name: "",
            Simplename: "",
            qty: "",
        })
    }
    //删除某一行数据
    function removeRow(index) {
        editCell(index, "Qty")
        var rows = $('#List').datagrid("getRows");
        $('#List').datagrid('deleteRow', index);
        $('#List').datagrid("loadData", rows);
        saveJson();
        
        updateFooter()
    }
    //底部统计
    function updateFooter() {
        var billCount = 0;
        var Total = 0;
        var rows = grid.datagrid('getRows');
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            if (row.Qty) {
                billCount += parseInt(row.Qty);

            }
            if (row.UnitPrice) {
                Total += parseFloat(row.UnitPrice)
            }
        }
        grid.datagrid('reloadFooter', [{ "Unit": "合计", "UnitPrice": Total.toFixed(2), "Qty": billCount }]);
    }
    //序列化数据
    function saveJson() {
        JsonText = "[";
        var rows = $('#List').datagrid('getRows');
        for (var i = 0; i < rows.length; i++) {
            JsonText += '{';
            JsonText += '"item_code":' + '"' + rows[i].item_code + '",';
            JsonText += '"item_name":' + '"' + rows[i].item_name + '",';
            JsonText += '"qty":' + '"' + rows[i].qty + '",';
            JsonText += '"Simplename":' + '"' + rows[i].Simplename + '"},';
        }
        JsonText = JsonText.substring(0, JsonText.length - 1);
        JsonText += "]";
        $("#jsonStr").val(JsonText);
    }
    //编辑触发的方法
    function editCell(index, field) {

        //给时间控件默认值
        //var rows = $('#List').datagrid('getRows');
        //if (rows[index].RequirementDate == null || rows[index].RequirementDate == "") {
        //    rows[index].RequirementDate = formatDatebox(new Date())
        //}
        grid.datagrid('endEdit', editRow);
        editRow = index;
        grid.datagrid('selectRow', index);
        grid.datagrid('beginEdit', index);
        var editor = grid.datagrid('getEditor', { index: index, field: field });
        setTimeout(function () {
            editor.target.focus();
        }, 0);

        var editors = grid.datagrid('getEditors', index);
        for (var i = 0; i < editors.length; i++) {
            editors[i].target.bind('keydown', { field: editors[i].field }, function (e) {
                if (e.keyCode == 13) {
                    grid.datagrid('endEdit', index);
                    editRow = -1;;
                } else if (e.keyCode == 38) {	// up

                    if (editRow > 0) {
                        editCell(editRow - 1, e.data.field);
                    }
                } else if (e.keyCode == 40) {	// down

                    if (editRow < grid.datagrid('getRows').length - 1) {
                        editCell(parseInt(editRow) + 1, e.data.field);
                    }
                }
                if (i < 2) {
                    if (!(event.keyCode == 46) && !(event.keyCode == 9) && !(event.keyCode == 8) && !(event.keyCode == 37) && !(event.keyCode == 39))
                        if (!((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)))
                            event.returnValue = false;
                }
            });
        }

    }

    function addshop(rows, index) {
    
        $('#GoodsGYDiv').dialog('close');
        $('#List').datagrid('updateRow', {
            index: index,
            row: {
                item_code: rows[0].code,
                item_name: rows[0].name,
                Simplename: rows[0].simple_name
            }
        });
    }

    function CheckOrder() {
        $('#openIframeNew')[0].src = "../Retreat/ViewRetreatOrderQuery";
        $('#openDivNew').dialog('open');
    }
    //选择其他地方取消编辑
    $(document).not(grid).on("click", function () {
        grid.datagrid("endEdit", editRow);
        grid.datagrid('unselectAll');
    });
    //给页面控件加默认值
    function addCompany(rows) {
        $('#openDivNew').dialog('close');
    
     
        $("#CollectName").val(rows[0].receiver_name);
        $("#CollectAddress").val(rows[0].receiver_address);
        var code = rows[0].code;
        $('#List').datagrid('loadData', { total: 0, rows: [] });
        $.post("QuyerOrderDetailByCode/", { "Code": code }, function (data) {
            $(data.rows).each(function (i, item) {
                $('#List').datagrid('appendRow', { item_code: item.item_code, item_name: item.item_name, Simplename: item.item_simple_name, qty: item.qty })
            });
            saveJson();
        });

    }
</script>
<div class="mvctool">
    <input id="btnSave" class="modal-btn modal-btn-save" type="submit" value="保存">
    <a href="#" class="easyui-linkbutton" plain="true" iconcls="icon-add" id="BtnAdd" onclick="addRow()">添加商品</a>
  
</div>
@using (Html.BeginForm("EditForm", "Controller", null, FormMethod.Post, new { Id = "EditForm" }))
{
    @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300">
        <tr>
            <td style="width: 120px;">
                @Html.LabelFor(model => model.Retreat_expressName)：    
            </td>
            <td>
                  @Html.DropDownListFor(model => model.Retreat_expressName, ViewData["RetreatexpressNameList"] as List<SelectListItem>)
            </td>
            <td style="width: 120px;">
                @Html.LabelFor(model => model.Retreat_expressNumber)：    
            </td>
            <td>
                @Html.TextBoxFor(model => model.Retreat_expressNumber)
                </td>
        </tr>
         <tr>
            <td style="width: 120px;">
               发货人姓名：    
            </td>
            <td>
                @Html.TextBoxFor(model => model.CollectName)
        </td>
            <td style="width: 120px;">
               地址：    
            </td>
            <td>
                @Html.TextBoxFor(model => model.CollectAddress)
                </td>
        </tr>
      
          <tr>
            <td style="width: 120px;">
               电话号码：    
            </td>
            <td>
                @Html.TextBoxFor(model => model.receivermobile)
           </td>
             <td style="width: 120px;">
              收货仓库：    
            </td>
            <td> @Html.DropDownListFor(model => model.Retreat_Warehouse, ViewData["RetreatWarehouseList"] as List<SelectListItem>) </td>
          </tr>
          <tr>
            <td style="width: 120px;">
                @Html.LabelFor(model => model.Retreat_Remarks)：    
            </td>
            <td>
                @Html.TextBoxFor(model => model.Retreat_Remarks)
           </td>
        </tr>
             <input type="hidden" id="jsonStr"  />
    </table>
}
<div class="detail-list">
    <table id="List"></table>
</div>
<div id="GoodsGYDiv" class="easyui-dialog" closed="true" modal="true" title="选择产品" style="width: 500px; height: 420px;" resizable="true" closable="true">
    <iframe scrolling="auto" id='openIframeGoodsGY' frameborder="0" src="" style="width: 98%; height: 98%;"></iframe>
</div>


