@model EBMS.Models.T_InvoiceApply
@{
    ViewBag.Title = "发票申领";
    Layout = "~/Views/Shared/_Main_Edit.cshtml";
}
<style>
    .btn-bar {
        margin: 10px;
    }

    .note-box {
        margin: 10px 0 0 10px;
    }

        .note-box p {
            margin-bottom: 10px;
        }

            #files-box {
 margin:10px  }
    #files-box li img {
        width:120px;height:120px;margin-right:10px
    }

    #files-box li .files-delete {
        color: #2299ee;
    }
  #files-box {
        margin-left:10px;
        float: left;
    }

        #files-box li {
            height: 25px;
            line-height: 25px;
            float: left;
            margin-right: 10px;
        }
</style>
<div class="btn-bar">
    <a href="javascript:;" id="btnAgree" class="icon-agree">同意</a>
    <a href="javascript:;" id="btnDisAgree" class="icon-disagree">不同意</a>
</div>
@using (Html.BeginForm("EditForm", "Controller", null, FormMethod.Post, new { Id = "EditForm" }))
{
    @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300" id="cashback">
          @Html.HiddenFor(model => model.ID)：  
        <tr>
            <td style="text-align: right;">
                @Html.LabelFor(model => model.ShopName)：   
            </td>
            <td style="position: relative;max-width:200px">
                @Html.DisplayFor(model => model.ShopName)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.ShopName)
            </td>
       
            <td style="text-align: right;">
                @Html.LabelFor(model => model.InvoiceMoney)：   
            </td>
            <td>
                @Html.DisplayFor(model => model.InvoiceMoney)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.InvoiceMoney)
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                @Html.LabelFor(model => model.majorMoney)：   
            </td>
            <td>
                @Html.DisplayFor(model => model.majorMoney)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.majorMoney)
            </td>
      
            <td style="text-align: right;">
                @Html.LabelFor(model => model.Reason)：   
            </td>
            <td>
                @Html.DisplayFor(model => model.Reason)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Reason)
            </td>
        </tr>
      
     
    </table>
}
<div class="history-box">@Html.Raw(ViewData["history"])</div>
<div class="note-box">
    <p>审核备注：</p>
    <textarea cols="20" id="Memo" name="Memo" rows="3" style="height: 60px; width: 380px; resize: none; overflow-y: scroll;"></textarea>
</div>
<script src="@Url.Content("~/Scripts/jquery.zclip.min.js")" type="text/javascript"></script>
  <ul id="files-box"></ul>
<script type="text/javascript">
    $(function () {

      

        var cashier = "@ViewData["Cashier"]";
        $("#btnAgree").click(function () {

            var status = 1
            post(status);
        });
        $("#btnDisAgree").click(function () {
            var status = 2;
            post(status);
        });
    });
    var sign = 0;
    function post(status) {
        var Memo = $("#Memo").val()
        if (sign == 0) {
            sign = 1;
            loading(0)
            $.ajax({
                url: "/InvoiceApply/InvoiceApplyCheck?status=" + status + "&Memo=" + Memo,
                type: "post",
                data: $("#EditForm").serialize(),
                dataType: "json",
                success: function (data) {
                    loading(1)
                    $.messager.alert('提示', data, "info", function () {
                        parent.$('#checkDiv').dialog('close');
                        parent.$('#List').datagrid('reload');
                        parent.$('#List').datagrid("clearSelections");
                        parent.Query();
                        sign = 0;
                    });
                    parent.$('#List').datagrid("clearSelections");
                },
                error: function () {
                    loading(1);
                    parent.$('#checkDiv').dialog('close');
                    parent.$('#List').datagrid('reload');
                    parent.$('#List').datagrid("clearSelections");
                    parent.Query();
                    sign = 0;
                }
            });
        }
    }

</script>
