@model EBMS.Models.T_EmployDemand
@{
    ViewBag.Title = "ViewEmployeeDemandEdit";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        var flag = 0;
        $('#btnSave').click(function () {
            if ($('#PeopleNum').val() == null || $('#PeopleNum').val() == undefined || $('#PeopleNum').val() == 0)
            {
                $.messager.alert("提示", "请填写需求人数", "info");
                return false;
            }
            if ($("#EditForm").valid() && flag == 0) {
              
                flag = 1;
                loading(0);
                $.ajax({
                    url: "/EmployeeDemand/EmployeeDemandEditSave",
                    type: "Post",
                    data: $("#EditForm").serialize(),
                    dataType: "json",
                    success: function (data)
                    {
                        if (data.State == "Success")
                        {
                            loading(1)
                            parent.$('#List').datagrid('reload')
                            $.messager.alert("提示", "@Lib.MessageRes.SaveOK", "info", function () {
                                parent.$('#editDiv').dialog('close')
                            })
                        }
                        else
                        {
                            loading(1)
                            $.messager.alert("提示", data.Message, "info");
                            flag = 0;
                        }
                        parent.$('#List').datagrid("clearSelections");
                    },
                    error: function (data)
                    {
                        loading(1);
                        flag = 0;
                        $.messager.alert('提示', data, "info");
                    }
                });
            }
        })
    })
</script>
<style>
    .lab {
  width: 110px; 
  text-align: right;}
</style>
<div class="mvctool">
    <a id="btnSave" href="javascript:;" class="modal-btn modal-btn-save">保存</a>
    
</div>

<div>
    @using (Html.BeginForm("EditForm", "Controllers", null, FormMethod.Post, new { Id = "EditForm" }))
{
    @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300">
       
        <tbody>
            <tr>
               <td class="lab">
                   @Html.LabelFor(model=>model.Job):
               </td>
               <td>
                   @Html.DropDownListFor(model=>model.Job,ViewData["JobList"] as List<SelectListItem>)
               </td>
               <td>
                   @Html.ValidationMessageFor(model=>model.Job)
               </td>
           </tr>
              <tr>
               <td class="lab">
                   @Html.LabelFor(model=>model.PeopleNum):
               </td>
               <td>
                   @Html.TextBoxFor(model => model.PeopleNum, new { type="tel"})
               </td>
               <td>
                   @Html.ValidationMessageFor(model=>model.PeopleNum)
               </td>
           </tr>
            
            
             <tr>
               <td class="lab">
                   @Html.LabelFor(model=>model.RecommendSalary):
               </td>
               <td>
                   @Html.TextBoxFor(model=>model.RecommendSalary)
               </td>
               <td>
                   @Html.ValidationMessageFor(model=>model.RecommendSalary)
               </td>
           </tr>
            <tr>
               <td class="lab">
                   @Html.LabelFor(model=>model.Memo):
               </td>
               <td>
                   @Html.TextBoxFor(model=>model.Memo)
               </td>
               <td>
                   @Html.ValidationMessageFor(model=>model.Memo)
               </td>
           </tr>
        </tbody>
    </table>
           @Html.HiddenFor(model => model.ID)
       
}

</div>

