@model EBMS.Models.T_Assets
@{
    ViewBag.Title = "ViewAssetsDetailPart";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<style type="text/css">
     .datagrid-cell-group {
  font-size:1.2em;
  font-weight:600;
    }
    .lab {
  width: 100px; 
  text-align: right;}
     .cont {
    width:120px;
    text-align:left;
    }
    /*#EditForm{
        width:50%;
        height:98%;
    }*/
     #pic {
    width:100%;
    height:100%;
    
    }
    #PicDiv {
  margin-left:7%;
    width:80%;
    height:80%;
    }
    thead {
    font-family:"黑体";
    font-size:2em;
    font-weight:600;
    text-align:center;
    line-height:normal;
    }
</style>
<script type="text/javascript">
    $(function () {
        document.title = '资产详情';
    })
   
</script>
@using (Html.BeginForm(new { id = "EditForm" }))
{

 @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300">
       
        <tbody>
             <tr>
                <td class="lab">
                    @Html.LabelFor(model => model.Code)：   
                </td>
                <td class="cont">
                    @Html.DisplayFor(model => model.Code)
                </td>
                 
                 <td colspan="3" rowspan="14" style="width:60%;" ><div id="PicDiv"><img src="@Model.Pic" id="pic" alt="资产图片" /></div></td> 

             </tr>
          <tr>
              <td class="lab">
                    @Html.LabelFor(model => model.Name)：   
                </td>
                <td class="cont">
                    @Html.DisplayFor(model => model.Name)
                </td>
          </tr>
            
            <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Spec)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.Spec)
                </td>
                  </tr>
            
            <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Barcode)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.Barcode)
                </td>
                 
                @* <td class="lab">
                    @Html.LabelFor(model => model.TypeCode)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.TypeCode)
                </td>*@
            </tr>    
            <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Buyer)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.Buyer)
                </td>
                  </tr>
            
            <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Cost)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cost)
                </td>
                  
            </tr>    
            
            <tr>
                <td class="lab">
                    @Html.LabelFor(model => model.BuyDate)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.BuyDate)
                </td>
                  </tr>
            
            <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.BuyFrom)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.BuyFrom)
                </td>
                 
            </tr>    
            <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Guarantee)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.Guarantee)
                </td>
                  </tr>
            
            <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Department)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.Department)
                </td>
            </tr>    
             
            <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Owner)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.Owner)
                </td>
                  </tr>
            
            <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Responsible)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.Responsible)
                </td>
            </tr>    
            <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Place)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.Place)
                </td>
                  </tr>
            
            <tr>
                 <td class="lab">
                    @Html.LabelFor(model => model.Memo)：   
                </td>
                <td>
                    @Html.DisplayFor(model => model.Memo)
                </td>
            </tr>    
              
            </tbody>
        </table>
}
