@model EBMS.Models.T_NoTicketExpense

@{
    ViewBag.Title = "NoTicketExpenseCheck";
    Layout = "~/Views/Shared/_Main_Edit.cshtml";
}
<style>
.detail-list {padding:10px}
.detail-list h2 {line-height:40px;color:#0094ff;font-size:14px;}
.detail-list li p {color:#666;}
 .ctrl-box{padding:10px 0 0 15px}
    .btn-bar {display:table;width:100%}
</style>
<div class="btn-bar">
                    <a href="#" id="btnSave" class="icon-agree">同意</a>
                    <a href="#" id="btnUnAgree" class="icon-disagree">不同意</a>
</div>
<div class="ctrl-box">
    <span>支出账户:</span>
    <select id="PayAccount" name="PayAccount">
         <option value="">==请选择==</option>
    </select>
</div>
<ul class="detail-list">
      <li>
          @Html.HiddenFor(a=>a.ID)
        <h2>@Html.LabelFor(a=>a.Total)</h2>
<p>@Html.DisplayFor(a=>a.Total)元</p>
    </li>
 <li>
<h2>@Html.LabelFor(a=>a.TheContent):</h2>
<p>@Html.DisplayFor(a=>a.TheContent)</p>
    </li>
    <li>
        <h2>@Html.LabelFor(a=>a.Note):</h2>
            <p>@Html.DisplayFor(a=>a.Note)</p>
    </li>
     <li>
         <h2>@Html.LabelFor(a=>a.PostTime):</h2>
            <p>@Html.DisplayFor(a=>a.PostTime)</p>
     </li>
    <li>
        <h2>@Html.LabelFor(a=>a.PostUser):</h2>
<p>@Html.DisplayFor(a=>a.PostUser)</p>
    </li>
    <li>
        <h2>@Html.LabelFor(a=>a.PostAccountInfo):</h2>
        <p>@Html.DisplayFor(a=>a.PostAccountInfo)</p>
    </li>
</ul>
<script>
    var createSelect = function (x) {
        var domStr = "";
        domStr += "<option value=" + x.Type + ":" + x.Code + ">" + x.Type + ":" + x.Code + "</option>";
        $("#PayAccount").append(domStr)
    }
    $.ajax({
        type: "post",
        url: "getPayAccountForNoTicketExpense",
        success:function(data){
            data.map(createSelect)
        },
        error:function(data){
                alert("加载支出账号失败")
        }
    })
    var flag = 0;
    var checkMethod = function (type) {

        if ($.trim($("#PayAccount").val()) == "" && type==1) {
            $.messager.alert('提示', '请选择支付账号', "info")
            return false;
        }
        $.messager.alert('提示', '确定审核吗？', "info", function () {
            if (flag == 0) {
                flag++;
                $.ajax({
                    url: "NoTicketExpenseCheckSave?ID=" + $("#ID").val() + "&PayAccount=" + $("#PayAccount").val() + "&type=" + type,
                    type: "Post",
                    data: $("#EditForm").serialize(),
                    success: function (data) {
                        $.messager.alert('提示', data.Message, "info", function () {
                            parent.$('#DivCheck').dialog('close');
                            parent.$('#List').datagrid('reload');
                            parent.$('#List').datagrid("clearSelections");
                        });
                        flag = 0;
                    },
                    error: function (data) {
                        $.messager.alert('提示', data.Message, "info")
                        parent.$('#List').datagrid("clearSelections");
                        flag = 0;
                    }
                })
            }
        });
    }
    $("#btnSave").click(function () {
        checkMethod(1)
    })
    $("#btnUnAgree").click(function () {
        checkMethod(2)
    })
</script>






