@model EBMS.Models.T_LossReport
@using Lib
@{
    ViewBag.Title = "ViewLossReportEdit";
    Layout = "~/Views/Shared/_Main_Edit.cshtml";
}
<script type="text/javascript">
    var grid; //定义全局变量datagrid
    var editRow = -1;
    //加载数据
    $(function () {
        $("body").css("overflow", "hidden");
        var adminID = "@ViewData["adminId"]";
        $("#ApproveFirst").val(adminID);
        grid = $('#List').datagrid({
            width: $(window).width() - 10,
            height: $(window).height() - 191,
            fitColumns: true,
            showFooter: true,
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            columns: [[
                    {
                        field: 'ProductName', title: '产品名称', width: 140, align: 'center',
                        editor: { type: 'text' }
                    },
                    { field: 'ProductCode', title: '产品编码', width: 60, align: 'center', editor: { type: 'text' } },
                    { field: 'WangWang', title: '旺旺号码', width: 80, align: 'center', editor: { type: 'text' } },
                    { field: 'OderNumber', title: '订单号码', width: 100, align: 'center', editor: { type: 'text' } },
                    { field: 'Reason', title: '报损原因', width: 120, align: 'center', editor: { type: 'text' } },
                   { field: 'Unit', title: '单位', width: 120, align: 'center', editor: { type: 'text' } },
                    { field: 'UnitPrice', title: '单价', width: 120, align: 'center', editor: { type: 'numberbox', options: { precision: 2 } } },
                {
                    field: 'Qty', title: '数量', width: 60, align: 'center',
                    editor: { type: 'numberbox' }
                },
                {
                    field: 'Note', title: '备注', width: 100, align: 'center',
                    editor: { type: 'text' }
                },
                 {
                     field: 'action', title: '操作', width: 120, align: 'center', formatter: function (value, row, index) {
                         return '<div class="btn-bar"><a onclick="addRow()"  class="icon-add" >添加</a><a onclick="removeRow(' + index + ')" class="icon-remove">删除</a></div>';
                     }
                 },
            ]],
            onClickCell: function (index, field) {
                if (field != 'action') {
                    editCell(index, field);
                }
            },
            onAfterEdit: function (index) {
                grid.datagrid('refreshRow', index);
                updateFooter()
                saveJson();
            }
        });
        grid.datagrid('loadData', { total: 0, rows: [], "footer": [{ "Unit": "合计", "UnitPrice": 0.00, "Qty": 0 }] });
        var LossId = "@ViewData["ID"]";
        // grid.datagrid("load", );

        function fLoadData() {
            $.ajax({
                type: "POST",
                url: "EditGetDetail?ID=" + LossId,
                success: function (data) {
                    var vData = $.parseJSON(data);
                    grid.datagrid('loadData', vData); //将数据绑定到datagrid   
                    saveJson();
                    updateFooter();
                }
            });
        }
        fLoadData()
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 10,
                height: $(window).height() - 191
            }).datagrid('resize', {
                width: $(window).width() - 10,
                height: $(window).height() - 191
            });
        });
        var sign = 0;
        function lossSave() {
            if ($("#EditForm").valid()) {
                if (sign == 0) {
                    sign = 1;
                    $.ajax({
                        url: "LossReportEditSave",
                        type: "Post",
                        data: $("#EditForm").serialize(),
                        success: function (data) {
                            if (data.State == "Success") {
                                loading(1);
                                $.messager.alert('提示', '保存成功', "info", function () {
                                    closeReshefTab("我的报损")
                                });
                            } else {
                                loading(1);
                                $.messager.alert('提示', data.Message, "info", function () {
                                    $("#List").datagrid("reload");
                                    sign = 0
                                });
                            }
                        }
                    });
                }
            }
        }
        $("#btnSave").click(function () {
            loading(0);
            if ($("#Department").val() == "9999") {
                $.messager.alert('提示', "请选择部门", "info")
                loading(1);
                return
            }
            if ($("#Shop").val() == "9999") {
                $.messager.alert('提示', "请选择店铺", "info")
                loading(1);
                return
            }
            grid.datagrid("endEdit", editRow);
            grid.datagrid('clearSelections');
            var rows = $('#List').datagrid("getRows");
            if (rows == "") {
                $.messager.alert('提示', "请添加报损详情", "info")
                loading(1);
                return
            }
            for (var i = 0; i < rows.length; i++) {

                if (rows[i].ProductName == undefined || rows[i].ProductName == "") {
                    $.messager.alert('提示', "产品名称不能为空", "info")
                    loading(1);
                    return false;
                }
                if (rows[i].ProductCode == undefined || rows[i].ProductCode == "") {
                    $.messager.alert('提示', "产品编码不能为空", "info")
                    loading(1);
                    return false;
                }
                if (rows[i].WangWang == undefined || rows[i].WangWang == "") {
                    $.messager.alert('提示', "旺旺号码不能为空", "info")
                    loading(1);
                    return false;
                }
                if (rows[i].OderNumber == undefined || rows[i].OderNumber == "") {
                    $.messager.alert('提示', "订单号码不能为空", "info")
                    loading(1);
                    return false;
                }
                if (rows[i].Reason == undefined || rows[i].Reason == "") {
                    $.messager.alert('提示', "报损原因不能为空", "info")
                    loading(1);
                    return false;
                }
                if (rows[i].Unit == undefined || rows[i].Unit == "") {
                    $.messager.alert('提示', "单位不能为空", "info")
                    loading(1);
                    return false;
                }
                if (rows[i].UnitPrice == undefined || rows[i].UnitPrice == "") {
                    $.messager.alert('提示', "单价不能为空", "info")
                    loading(1);
                    return false;
                }
                if (rows[i].Qty == undefined || rows[i].Qty == "") {
                    $.messager.alert('提示', "数量不能为空", "info")
                    loading(1);
                    return false;
                }
            }
            $.ajax({
                url: "CheckOrder",
                type: "Post",
                data: $("#EditForm").serialize(),
                success: function (data) {
                    if (data != "") {
                        $.messager.confirm('提示', data, function (r) {
                            if (r) {
                                lossSave()
                            } else {
                                loading(1);
                                sign = 0;
                            }
                        });
                    } else {
                        lossSave()
                    }
                },
                error: function () {

                }
            })

        });
    });

    function addRow() {
        $('#List').datagrid('appendRow', {
            ProductName: "",
            ProductCode: "",
            WangWang: "",
            OderNumber: "",
            Reason: "",
            Unit: "",
            UnitPrice: "",
            Qty: "",
            Note: "",
        })
    }
    function removeRow(index) {
        editCell(index, "Qty")
        var rows = $('#List').datagrid("getRows");
        $('#List').datagrid('deleteRow', index);
        $('#List').datagrid("loadData", rows);
        saveJson();
        updateFooter()
    }
    function updateFooter() {
        var billCount = 0;
        var Total = 0;
        var rows = grid.datagrid('getRows');
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            if (row.Qty) {
                billCount += parseInt(row.Qty);

            }
            if (row.UnitPrice) {
                Total += parseFloat(row.UnitPrice)
            }
        }
        grid.datagrid('reloadFooter', [{ "Unit": "合计", "UnitPrice": Total.toFixed(2), "Qty": billCount }]);
    }
    function saveJson() {
        JsonText = "[";
        var rows = $('#List').datagrid('getRows');
        for (var i = 0; i < rows.length; i++) {
            JsonText += '{';
            JsonText += '"ProductCode":' + '"' + rows[i].ProductCode + '",';
            JsonText += '"ProductName":' + '"' + rows[i].ProductName + '",';
            JsonText += '"Unit":' + '"' + rows[i].Unit + '",';
            JsonText += '"WangWang":' + '"' + rows[i].WangWang + '",';
            JsonText += '"OderNumber":' + '"' + rows[i].OderNumber + '",';
            JsonText += '"Qty":' + '"' + rows[i].Qty + '",';
            JsonText += '"UnitPrice":' + '"' + rows[i].UnitPrice + '",';
            JsonText += '"Note":' + '"' + rows[i].Note + '",';
            JsonText += '"Reason":' + '"' + rows[i].Reason + '"},';
        }
        JsonText = JsonText.substring(0, JsonText.length - 1);
        JsonText += "]";
        $("#jsonStr").val(JsonText);
    }
    function editCell(index, field) {

        //if (editRow != index) { }
        grid.datagrid('endEdit', editRow);
        editRow = index;
        grid.datagrid('selectRow', index);
        grid.datagrid('beginEdit', index);
        var editor = grid.datagrid('getEditor', { index: index, field: field });
        //numberbox 特殊处理
        setTimeout(function () {
            editor.target.focus();
        }, 0);

        var editors = grid.datagrid('getEditors', index);
        for (var i = 0; i < editors.length; i++) {
            editors[i].target.bind('keydown', { field: editors[i].field }, function (e) {
                if (e.keyCode == 13) {
                    grid.datagrid('endEdit', index);

                    editRow = -1;;
                } else if (e.keyCode == 38) {	// up

                    if (editRow > 0) {
                        editCell(editRow - 1, e.data.field);
                    }
                } else if (e.keyCode == 40) {	// down

                    if (editRow < grid.datagrid('getRows').length - 1) {
                        editCell(parseInt(editRow) + 1, e.data.field);
                    }
                }
                if (i < 2) {
                    if (!(event.keyCode == 46) && !(event.keyCode == 9) && !(event.keyCode == 8) && !(event.keyCode == 37) && !(event.keyCode == 39))
                        if (!((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)))
                            event.returnValue = false;
                }
            });
        }

    }
    $(document).not(grid).on("click", function () {
        grid.datagrid("endEdit", editRow);
        grid.datagrid('unselectAll');
    });
</script>
<div class="mvctool">
    <input id="btnSave" class="modal-btn modal-btn-save" type="submit" value="保存">
</div>
@using (Html.BeginForm("EditForm", "Controller", null, FormMethod.Post, new { Id = "EditForm" }))
{
    @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300">
        <tr>
            <td style="width: 80px; text-align: right;">
                @Html.Hidden("jsonStr")
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Status)
                @Html.LabelFor(model => model.Code)：   
            </td>
            <td>
            @Html.TextBoxFor(model => model.Code, new { @readonly = true })
            <td>
                @Html.ValidationMessageFor(model => model.Code)
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">
                @Html.LabelFor(model => model.PostUser)：   
            </td>
            <td>
                @Html.TextBoxFor(model => model.PostUser, new { @Value = Server.UrlDecode(Request.Cookies["Name"].Value), @readonly = true })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.PostUser)
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">
                @Html.LabelFor(model => model.Department)：   
            </td>
            <td>
                @Html.DropDownListFor(model => model.Department, ViewData["ReportDepartment"] as List<SelectListItem>)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Department)
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">
                @Html.LabelFor(model => model.Shop)：   
            </td>
            <td>
                @Html.DropDownList("Shop", ViewData["Shop"] as List<SelectListItem>)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Shop)
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">
                @Html.LabelFor(model => model.ApproveFirst)：   
            </td>
            <td>
                @Html.DropDownListFor(model => model.ApproveFirst, ViewData["ApproveFirst"] as List<SelectListItem>)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.ApproveFirst)
            </td>
        </tr>

    </table>
}
<div class="detail-list">
    <table id="List"></table>
</div>
<div id="openDivNew" class="easyui-dialog" closed="true" modal="true" title="添加详情" style="width: 800px; height: 500px;" resizable="true" closable="true">
    <iframe scrolling="no" id='openIframeNew' frameborder="0" src="" style="width: 100%; height: 98%;"></iframe>
</div>
<div id="openComapny" class="easyui-dialog" closed="true" modal="true" title="往来单位" style="width: 800px; height: 500px;" resizable="true" closable="true">
    <iframe scrolling="no" id='openIframeComapny' frameborder="0" src="" style="width: 100%; height: 98%;"></iframe>
</div>

