@model EBMS.Models.T_Quit
@using Lib
@{
    ViewBag.Title = "QuitAdd";
    Layout = "~/Views/Shared/_Main_Edit.cshtml";
}
<style>
.setTextWidth600 input[type="text"] {width:600px;}
#Sex{width:60px;text-align:center}
.text-Area{width:600px;height:60px;margin:10px 0;resize:none}
#data-tr p{float:left;margin-right:15px}
#data-tr p input[type="checkbox"]{float:left;margin:1px 5px 0 0}
.uploadBtn{color:#2299ee}
.uploadBtn:hover {color:#1d51a5}
.multiple-hidden {display:none}
#files-btn{color: #333;margin-right: 15px;padding-left: 16px;margin-bottom:10px;display:table}
 #files-btn:hover{color:#2299ee;}
#files-box {margin:10px 0}
#files-box li{height:25px;line-height:25px;}
.files-name{height:25px;overflow:hidden;  }
.files-size{margin:0 10px;color:#999}
#files-box li a {color:#333}
#files-box li  .files-delete{color:#2299ee}
.quit-rule{margin:10px 0;width:600px}
.quit-rule p {line-height:22px}
.no-border {border:0}
.assets-ul td,.borrow-ul td  {border:1px solid #ddd;text-align:center}
.assets-ul {border-collapse: collapse;margin:10px 0;width:605px}
.borrow-ul{border-collapse: collapse;margin:10px 0}
</style>
@*@using (Html.BeginForm("EditForm", "Controller", null, FormMethod.Post, new { enctype = "multipart/form-data",Id = "EditForm" })) *@
@using (Html.BeginForm("QuitdAdd", "Quit", null, FormMethod.Post, new { enctype = "multipart/form-data", Id = "EditForm" }))
{
    @Html.ValidationSummary(true)
<div class="mvctool">
    <a id="btnSave" class="modal-btn modal-btn-save" >保存</a>
</div>
    <table class="fromEditTable setTextWidth600">
          <tr>
            <td style="width:120px; text-align: right;">
                @Html.Hidden("jsonStr")
                  <input type="hidden" id="assetStr" value="@ViewData["Assets"]" />
                 <input type="hidden" id="borrowStr" value="@ViewData["Borrow"]" />
                <input type="hidden" id="AssetsCode" name="AssetsCode" value="" />
                <input type="hidden" id="BorrowCode" name="BorrowCode" value="" />
                @Html.TextBoxFor(model => model.ID, new { @style="display:none"})
                @Html.LabelFor(model => model.Code)：   
            </td>
            <td >
                <input value="@ViewData["Code"]" id="Code" name="Code" readonly="true" class="no-border">
               
            </td>
        </tr>
        <tr>
            <td style="width:120px; text-align: right;">
                @Html.LabelFor(model => model.PostUser)：   
            </td>
            <td>
                 <input value="@ViewData["Name"]" id="PostUser" name="PostUser"  readonly="true" class="no-border">
            </td>
        </tr>
         <tr>
            <td style="width:120px; text-align: right;">
                @Html.LabelFor(model => model.PostDepartment)：   
            </td>
            <td>
                <input value="@ViewData["PostDepartment"]" id="PostDepartment" name="PostDepartment"  readonly="true" class="no-border">
                
            </td>
        </tr>
       <tr>
           <td style="width:120px; text-align: right;">
                流程说明：   
           </td>
           <td>
              <div class="quit-rule">
                    <p>请写清楚离职的原因 时间 需要移交的公司QQ号 客户以及 公司物品等 </p>
                    <p>1、离职先要提前一个月申请、获得第一级主管的审批同意  </p>
                    <p>2、行政主管核实好后确定要提交公司物品和公司账户电话的清算好工资等 </p>
                    <p>3、财务主管核实好是否有欠款以及其他财务问题  </p>
                    <p>4、最后是直接电商主管领导同意后方可离职，工资会按照公司发放时间统一发放 </p>
              </div>
           </td>
       </tr>
          <tr>
           <td style="width:120px; text-align: right;">
                  @Html.LabelFor(model => model.Reason)：   
           </td>
           <td>
                 @Html.TextArea("Reason", new { @placeholder = "写清楚真实原因，或者有话要对公司说这里可以放心写，然后直接选择苏瑞批就可以。保密的" ,@class = "text-Area"})
           </td>
       </tr>
          <tr>
            <td style="width: 120px; text-align: right;">
                @Html.LabelFor(model => model.QuitTime)：   
            </td>
              <td>
                  <input name="QuitTime" value="" id="QuitTime" class="easyui-datebox" editable="false" data-options="sharedCalendar:'#QuitTime'">
              </td>
        </tr>
        <tr>
           <td style="width:120px; text-align: right;">
              移交固定资产编码：
           </td>
           <td>
               <table id="AssetsUl" class="assets-ul">
                   <tr>
                       <td>资产编码</td>
                       <td>资产名称</td>
                       <td>规格</td>
                       <td>价格</td>
                       <td>是否损毁</td>
                   </tr>
               </table>
           </td>
         </tr>
        <tr>
           <td style="width:120px; text-align: right;">
               @Html.LabelFor(model => model.WorkAccount)：   
           </td>
           <td>
                 @Html.TextBoxFor(model => model.WorkAccount, new { @placeholder = "各种工作帐号，没有就写无" })
           </td>
         </tr>
           <tr>
            <td style="width: 120px; text-align: right;">
              借支：
            </td>
            <td>
                <table id ="BorrowUl" class="borrow-ul">
                    <tr>
                        <td width="160">借支编码</td>
                        <td width="160">借支申请日期</td>
                        <td width="160">借支金额</td>
                        <td width="260">借支理由</td>
                        <td width="80">结算状态</td>
                    </tr>
                </table>
            </td>
        </tr>
          <tr>
            <td style="width: 120px; text-align: right;">
                @Html.LabelFor(model => model.WageAccount)：   
            </td>
            <td>
                @Html.TextBoxFor(model => model.WageAccount,new { @placeholder = "如果已经办了工资卡就不用填写工资会打到工资卡上，如果还未办理工资卡就离职了，请写账户" })
            </td>
        </tr>
        <tr>
            <td style="width: 120px; text-align: right;">
                @Html.LabelFor(model => model.WageAccountName)：   
            </td>
            <td>
                @Html.TextBoxFor(model => model.WageAccountName,new { @placeholder = "只能和离职本人一致的账户" })
            </td>
        </tr>
         <tr>
            <td style="width: 120px; text-align: right;">
                @Html.LabelFor(model => model.WageBank)：   
            </td>
            <td>
                @Html.TextBoxFor(model => model.WageBank,new { @placeholder = "不知道就写银行名字就可以，或者支付宝" })
            </td>
        </tr>
        <tr>
            <td style="width: 120px; text-align: right;">
                @Html.LabelFor(model => model.Memo)：   
            </td>
            <td>
                @Html.TextArea("Memo",new { @class = "text-Area" })
            </td>
        </tr>
        <tr>
            <td style="width: 120px; text-align: right;">
               <font color="#2299ee">附件小于10M：</font>
            </td>
            <td>
                   <ul id="files-box">
                   </ul>
                    <a href="#" class="icon-add" id="files-btn">上传附件</a>  
                   <div class="multiple-hidden"> 
                      <input type="file" name="file" id="file"  />
                   </div>
            </td>
            <td>
            </td>
        </tr>
         <tr>
            <td style="width: 120px; text-align: right;">
                @Html.LabelFor(model => model.FirstApprove)：   
            </td>
            <td>
                 @Html.DropDownList("FirstApprove", ViewData["FirstApprove"] as List<SelectListItem>)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.FirstApprove)
            </td>
        </tr>
    </table>
}
<div id="openDivNew" class="easyui-dialog" closed="true" modal="true" title="添加详情" style="width: 800px; height: 500px;" resizable="true" closable="true">
    <iframe scrolling="no" id='openIframeNew' frameborder="0" src="" style="width: 100%; height: 98%;"></iframe>
</div>
<div id="openComapny" class="easyui-dialog" closed="true" modal="true" title="往来单位" style="width: 800px; height: 500px;" resizable="true" closable="true">
    <iframe scrolling="no" id='openIframeComapny' frameborder="0" src="" style="width: 100%; height: 98%;"></iframe>
</div>
<script type="text/javascript">
    //加载数据
    function saveJson() {
        JsonText = "[";
        var rows = $('#files-box li');
        if (rows.length == 0) {
            $("#jsonStr").val("");
            return
        }
        for (var i = 0; i < rows.length; i++) {
            var row = $(rows[i]);
            JsonText += '{';
            JsonText += '"Name":' + '"' + row.attr("data-name") + '",';
            JsonText += '"Url":' + '"' + row.attr("data-url") + '",';
            JsonText += '"Size":' + '"' + row.attr("data-size") + '",';
            JsonText += '"Path":' + '"' + row.attr("data-path") + '"},';
        }
        JsonText = JsonText.substring(0, JsonText.length - 1);
        JsonText += "]";
        $("#jsonStr").val(JsonText);
    }
    saveJson()
    function DeleteFile(_this, path) {
        $(_this).closest("li").remove();
        $.ajax({
            type: "POST",
            url: "../Quit/DeleteFile?path=" + path,
            contentType: false,
            processData: false,
        }).success(function (data) {
            saveJson()
        }).error(function (data) {
            alert(data);
        });
    }
    function DeleteModelFile(_this, path) {
        $(_this).closest("li").remove();
        var $id = $("#ID").val();
        $.ajax({
            type: "POST",
            url: "../Quit/DeleteModelFile?path=" + path + "&ID=" + $id,
            contentType: false,
            processData: false,
        }).success(function (data) {
            saveJson()
        }).error(function (data) {
            alert(data);
        });
    }
    $(function () {
        //加载附件
        $.ajax({
            url: "../Quit/GetQuitOptin?ID=" + $("#ID").val(),
            type: "Post",
            data: $("#EditForm").serialize(),
            success: function (data) {
                var $Li = "";
                if (data == "" || data == null) {
                    $("#files-box").html($Li);
                    return;
                }
                var dataJson = JSON.parse(data)
                $.each(dataJson, function (i, val) {
                    $Li += "<li data-name=" + dataJson[i].Name + " data-url=" + dataJson[i].Url + " data-size = " + dataJson[i].Size + " data-path=" + dataJson[i].Path + "><a href=" + dataJson[i].Url + " target='_blank'><span class='files-name'>" + dataJson[i].Name + "</span><span class='files-size'>(" + dataJson[i].Size + "KB)</span></a><a href='#' onclick='DeleteModelFile(this,\"" + dataJson[i].Path + "\")' title=" + dataJson[i].Path + " class='files-delete'>删除</a></li>"
                })
                $("#files-box").html($Li);
                saveJson()
            },
            error: function () {

            }
        });
        var adminID = "@ViewData["MyUser"]";
        if (adminID != null && adminID != "")
        {
            $("#FirstApprove").val(adminID);
        }
      
        $("#files-btn").click(function () {
            $("#file").click();
        })
        //附件
        $("#file").change(function () {
            var files = $("#file")[0].files
            var $li = "";
            var $size = 0;
            // 10485760b ===10M
            var postSize = files[0].size;
            if (postSize > 10485760) {
                $.messager.alert('提示', "单个文件不能大于10M", "info")
                return;
            }
            var formData = new FormData($("#EditForm")[0]);
            $.ajax({
                type: "POST",
                data: formData,
                url: "../Quit/Upload",
                contentType: false,
                processData: false,
            }).success(function (data) {
                if (data.status) {
                    $size = files[0].size / 1024;
                    $li += "<li data-name=" + files[0].name + " data-url=" + data.link + " data-size = " + $size.toFixed(2) + " data-path=" + data.title + "><a href='" + data.link + "' target='_blank'><span class='files-name'>" + files[0].name + "</span><span  class='files-size'>(" + $size.toFixed(2) + "KB)</span></a><a href='#' onclick='DeleteFile(this,\"" + data.title + "\")' title=" + data.title + " class='files-delete'>删除</a></li>";
                    $("#files-box").append($li);
                    saveJson()
                } else {
                    console.log(data.msg);
                }

            }).error(function (data) {
                alert(data);
            });
        });
        //离职日期默认今天
        var quitDate = "@ViewData["Time"]";
        var quitDate = new Date(quitDate);
        $("#QuitTime").datebox("setValue", quitDate.format("yyyy-MM-dd"));
        //用户固定资产
            function getAssects() {
                var $Tr = "";
                var $AssetsCode = "";
                var Assets = $("#assetStr").val();
                if (Assets == "") {
                    $("#AssetsUl").closest("td").html("未分配固定资产");
                    $AssetsCode = "无";
                }
                else {
                    var jAssets = JSON.parse(Assets);
                    $.each(jAssets, function (i, value) {
                        $AssetsCode += value.Code + ",";
                        var isScrap = "";
                        switch (value.isScrap) {
                            case "0": isScrap = "否";
                                break;
                            case "1": isScrap = "是";
                                break;
                        }
                        var Cost = parseFloat(value.Cost).toFixed(2);
                        $Tr += "<tr><td>" + value.Code + "</td><td>" + value.Name + "</td><td>" + value.Spec + "</td><td>" + Cost + "</td><td>" + isScrap + "</td></tr>"
                    })
                    $("#AssetsUl").append($Tr);
                    $AssetsCode = $AssetsCode.substring(0, $AssetsCode.length - 1);
                }
                $("#AssetsCode").val($AssetsCode);
            }
            getAssects();
        //用户借支
            function getBorrow() {
                var borrow = $("#borrowStr").val();
                var $BorrowCode = "";
                if (borrow == "") {
                    $("#BorrowUl").closest("td").html("没有未结算订单借支");
                    $BorrowCode = "无";
                }
                else
                {
                    var Jborrow = JSON.parse(borrow);
                    var $Tr = "";
                    $.each(Jborrow, function (i, value) {
                        $BorrowCode += value.Code + ",";
                        var State = "";
                        switch (value.State) {
                            case "-1": State = "未结算";
                                break;
                            case "0": State = "部分结算";
                                break;
                        }
                        $Tr += "<tr><td>" + value.Code + "</td><td>" + value.Date + "</td><td>" + value.Money + "</td><td>" + value.Reson + "</td><td>" + State + "</td></tr>"
                    })
                    $("#BorrowUl").append($Tr);
                    $BorrowCode = $BorrowCode.substring(0, $BorrowCode.length - 1);
                }
                $("#BorrowCode").val($BorrowCode);
            }
            getBorrow()
        //提交方法
        var sign = 0;
        $("#btnSave").click(function ()
        {
            var value = "";
           value = $("#Reason").val();
           if ($.trim(value) == "") {
               $.messager.alert('提示', "离职原因不能为空", "info", function () { $("#Reason").focus(); })
               return;
           }
           value = $("#WorkAccount").val();
           if ($.trim(value) == "") {
               $.messager.alert('提示', "工作账号不能为空", "info", function () { $("#WorkAccount").focus(); })
               return;
           } 
           value = $("#Memo").val();
           if ($.trim(value) == "") {
               $.messager.alert('提示', "申请内容不能为空", "info", function () { $("#Memo").focus(); })
               return;
           }
           loading(0);
           if (sign == 0) {
               sign = 1;
               $.ajax({
                   url: "../Quit/QuitEditSave?ID=" + $("#id").val(),
                   type: "Post",
                   data: $("#EditForm").serialize(),
                   success: function (data) {
                       if (data.State == "Success") {
                           loading(1);
                           $.messager.alert('提示', '保存成功', "info", function () {
                               sign = 0
                               closeReshefTab("离职审批管理")
                           });
                       } else {
                           loading(1);
                           $.messager.alert('提示', data.Message, "info", function () {
                               sign = 0
                           });
                       }
                   }
               });
           }
        });
    });
</script>
